@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");


@font-face{
  font-family: "bankgothic";
  src: url("/fonte/bankgothic-bold.ttf") format('truetype');
 }


:root {
  --main-color: #d3ad7f;
  --black: #13131a;
  --bg: #010103;
  --border: 0.1rem solid rgba(255, 255, 255, 0.3);
}

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: none;
  transition: 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 0.8rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: #2c2c2c;
  border-radius: 5rem;
}

body {
  background: var(--bg);
}

section {
  padding: 2rem 7%;
}

.p {
  margin: 0;
  text-indent: 3ch;
}
.fon {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.heading {
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  padding-bottom: 3.5rem;
  font-size: 4rem;
}

.heading span {
  color: var(--main-color);
  text-transform: uppercase;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 0.9rem 3rem;
  font-size: 1.7rem;
  color: #fff;
  background: var(--main-color);
  cursor: pointer;
}

.btn:hover {
  letter-spacing: 0.2rem;
}

.header {
  background: var(--bg);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 7%;
  border-bottom: var(--border);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header .logo img {
  height: 6rem;
  width: 120px;
  height: 120px;
  text-align: left;
  color: white;
  float: left;
}

.header .navbar a {
  margin: 0 1rem;
  font-size: 1.6rem;
  color: #fff;
  text-transform: uppercase;
}

.header .navbar a ul {
  display: inline-block;
  position: relative;
  height: auto;
  text-align: left;
  line-height: normal;
}

.header .navbar a ul.vip {
  display: grid;
  position: relative;
  height: auto;
  text-align: left;
  line-height: normal;
}

.header .navbar ul li {
  text-decoration: none;
  display: none;
  border-bottom: #d3ad7f 0.1rem solid;
  text-align: center;
}

.navbar ul:hover > li {
  display: block;
  margin: 0%;
  margin-top: 25px;
  padding: 10px;
  float: right;
  text-indent: 0;
  border: #d3ad7f 0.1rem solid;
}

.header .navbar a:hover {
  color: var(--main-color);
  border-bottom: 0.1rem solid var(--main-color);
  padding-bottom: 0.5rem;
}

.header .icons div {
  color: #fff;
  cursor: pointer;
  font-size: 2.5rem;
  margin-left: 2rem;
}

.header .icons div:hover {
  color: var(--main-color);
}

.header p {
  margin: 0px;
  text-indent: 3ch;
}
#menu-btn {
  display: none;
}

.header .search-form {
  position: absolute;
  top: 115%;
  right: 7%;
  background: #fff;
  width: 50rem;
  height: 5rem;
  display: flex;
  align-items: center;
  transform: scaleY(0);
  transform-origin: top;
}

.header .search-form.active {
  transform: scaleY(1);
}

.header .search-form input {
  height: 100%;
  width: 100%;
  font-size: 1.6rem;
  color: var(--black);
  padding: 1rem;
  text-transform: none;
}

.header .search-form label {
  cursor: pointer;
  font-size: 2.2rem;
  margin-right: 1.5rem;
  color: var(--black);
}

.header .search-form label:hover {
  color: var(--main-color);
}

.header .cart-items-container {
  position: absolute;
  top: 100%;
  right: -100%;
  height: calc(100vh - 9.5rem);
  width: 35rem;
  background: red;
  padding: 0 1.5rem;
}

.header .cart-items-container.active {
  right: 0;
}

.header .cart-items-container .cart-item {
  position: relative;
  margin: 2rem 0;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.header .cart-items-container .cart-item .fa-times {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  cursor: pointer;
  color: var(--black);
}

.header .cart-items-container .cart-item .fa-times:hover {
  color: var(--main-color);
}

.header .cart-items-container .cart-item img {
  height: 7rem;
}

.header .cart-items-container .cart-item .content h3 {
  font-size: 1rem;
  color: var(--black);
  padding-bottom: 0.5rem;
}

.header .cart-items-container .cart-item .content .price {
  font-size: 1.5rem;
  color: var(--main-color);
}

.header .cart-items-container .btn {
  width: 100%;
  text-align: center;
}

.home {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: url(../imagem/carro.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  object-fit: cover;
}

.home .content {
  max-width: 60rem;
}

.home .content h3 {
  font-size: 6rem;
  text-transform: uppercase;
  color: #fff;
}

.home .content p {
  margin: 0px;
  text-indent: 3ch;
  font-size: 2rem;
  font-weight: lighter;
  line-height: 1.8;
  padding: 1rem 0;
  color: #eee;
}

.home .content span {
  color: var(--main-color);
  text-transform: uppercase;
}

.about .row {
  display: flex;
  align-items: center;
  background: var(--black);
  flex-wrap: wrap;
}

.about .row .image {
  flex: 1 1 45rem;
}

.about .row .image img {
  width: 100%;
  height: 100%;
}
.about .row .content {
  flex: 1 1 45rem;
  padding: 2rem;
}

.about .row .content h3 {
  font-size: 3rem;
  color: #fff;
}

.about .row .content p {
  font-size: 2rem;
  color: #ccc;
  padding: 1rem 0;
  line-height: 1.8;
}

.about p {
  margin: 0px;
  text-indent: 3ch;
}

.about span {
  color: var(--main-color);
  text-transform: uppercase;
}

.menu .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}

.menu .box-container .box {
  padding: 5rem;
  text-align: center;
  border: var(--border);
}

.menu .box-container .box img {
  height: 10rem;
}

.menu .box-container .box h3 {
  color: #fff;
  font-size: 2rem;
  padding: 1rem 0;
}

.menu .box-container .box .price {
  color: #fff;
  font-size: 2.5rem;
  padding: 0.5rem 0;
}

.menu .box-container .box .price span {
  font-size: 1.5rem;
  text-decoration: line-through;
  font-weight: lighter;
}

.menu .box-container .box:hover {
  background: #242424;
  /*cor de fundo do card */
}

.menu .box-container .box:hover > * {
  color: white;
}

.products .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}

.products .box-container .box {
  text-align: center;
  border: var(--border);
  padding: 2rem;
}

.products .box-container .box .icons a {
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  border: var(--border);
  color: #fff;
  margin: 0.3rem;
}

.products .box-container .box .icons a:hover {
  background: var(--main-color);
}

.products .box-container .box .image {
  padding: 2.5rem 0;
}

.products .box-container .box .image img {
  height: 25rem;
}

.products .box-container .box .content h3 {
  color: #fff;
  font-size: 2.5rem;
}

.products .box-container .box .content .stars {
  padding: 1.5rem;
}

.products .box-container .box .content .stars i {
  font-size: 1.7rem;
  color: var(--main-color);
}

.products .box-container .box .content .price {
  color: #fff;
  font-size: 2.5rem;
}

.products .box-container .box .content .price span {
  text-decoration: line-through;
  font-weight: lighter;
  font-size: 1.5rem;
}

.maps {
  width: 100%;
  height: 255px;
  text-align: right;
}

.logo2 {
  width: 120px;
  height: 120px;
  text-align: left;
  color: white;
  float: left;
}

.contact .row {
  display: flex;
  background: var(--black);
  flex-wrap: wrap;
  gap: 1rem;
}

.contact .row .map {
  flex: 1 1 45rem;
  width: 100%;
  object-fit: cover;
}

.contact .row form {
  flex: 1 1 45rem;
  padding: 5rem 2rem;
  text-align: center;
}

.contact .row form h3 {
  text-transform: uppercase;
  font-size: 3.5rem;
  color: #fff;
}

.contact .row form .inputBox {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background: var(--bg);
  border: var(--border);
}

.contact .row form .inputBox span {
  color: #fff;
  font-size: 24px;
  padding-left: 10px;
}

.contact .row form .inputBox input {
  width: 100%;
  padding: 15px;
  font-size: 20px;
  color: #fff;
  text-transform: none;
  background: none;
}

.contact .row {
  font-size: 24px;
  color: #fff;
  text-align: left;
}
.contato p {
  text-align: left;
  font-size: 18px;
  margin-top: auto;
  margin: 0;
  text-indent: 40px;
  margin-top: -20px;
}

#contact .contato p .contatofrase {
  text-align: left;
  font-size: 40px;
  margin-top: 40px;
  display: inline-block;
  box-sizing: border-box;
}

#contact .heading .row .contato span {
  font-size: 25px;
}

#contact .heading .row .contato i {
  font-size: 25px;
}

.orcamento .row {
  display: flex;
  background: var(--black);
  flex-wrap: wrap;
  gap: 1rem;
}

.orcamento .row .map {
  flex: 1 1 45rem;
  width: 100%;
  object-fit: cover;
}

.orcamento .row form {
  flex: 1 1 45rem;
  padding: 5rem 2rem;
  text-align: center;
}

.orcamento .row form h3 {
  text-transform: uppercase;
  font-size: 3.5rem;
  color: #fff;
}

.orcamento .row form .inputBox {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background: var(--bg);
  border: var(--border);
  color: #ccc;
}

.orcamento .row form .inputBox span {
  color: #fff;
  font-size: 2rem;
  padding-left: 2rem;
}

.orcamento .row form .inputBox input {
  width: 100%;
  padding: 2rem;
  font-size: 1.7rem;
  color: #fff;
  text-transform: none;
  background: none;
}
.footer {
  background: var(--black);
  text-align: center;
}

.footer .share {
  padding: 1rem 0;
}

.footer .share a {
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  color: #fff;
  border: var(--border);
  margin: 0.3rem;
  border-radius: 50%;
}

.footer .share a:hover {
  background-color: var(--main-color);
}

.footer .links { 
 
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2rem 0;
  gap: 1rem;
}

.footer .links a {
  text-transform: uppercase;
  padding: 0.7rem 2rem;
  color: #fff;
  border: var(--border);
  font-size: 2rem;
}

.footer .links a:hover {
  
  background: var(--main-color);
}

.footer .credit {
  font-size: 2rem;
  color: #fff;
  font-weight: lighter;
  padding: 1.5rem;
}

.footer .credit span {
  color: var(--main-color);
}

.r.row form .inputBox input {
  width: 100%;
  padding: 2rem;
  font-size: 1.7rem;
  color: #fff;
  text-transform: none;
  background: none;
}

.tabela {
  color: #fff;
}

/* media queries  */
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  .header {
    padding: 1.5rem 2rem;
  }

  section {
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  #menu-btn {
    display: inline-block;
  }

  .header .navbar {
    position: absolute;
    top: 100%;
    right: -100%;
    background: #fff;
    width: 30rem;
    height: calc(100vh - 9.5rem);
  }

  .header .navbar.active {
    right: 0;
  }

  .header .navbar a {
    color: var(--black);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .header .search-form {
    width: 90%;
    right: 2rem;
  }

  .home {
    background-position: left;
    justify-content: center;
    text-align: center;
  }

  .home .content h3 {
    font-size: 4.5rem;
  }

  .home .content p {
    font-size: 1.5rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}
.texto-head {
  color: #fff;
  font-size: medium;
  position: fixed;
  left: 15%;
}

thead td {
  padding: 10px;
  padding-bottom: 20px;
}
.table-striped {
  padding: 10px;
  border-radius: 10px;
  background-color: #d3ad7f;
  border-right: #010103;
}

.dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #000000;
  line-height:20px;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 16px 20px 24px;
  z-index: 1;
  cursor: pointer;

}

.dropdown:hover .dropdown-content {
  display: block;
  cursor: pointer;
 
}
.drop-menu-title {
  color: white;
  
}

#menu-ti {
  justify-content: start;
 font-size: 14px;
}

.span-hover {
  color: white;
  font-size: 1.6rem;
}

#table-topo {
  background-color: #c0c0c0;
  box-sizing: border-box;
  display: inline-block;
  list-style: none;
  width: 80%;
  font-size: 18px;
}

#table-topo .tableup {
  display: block;
  box-sizing: border-box;
  background-color: var(--main-color);
  text-align: left;
  font-size: 32px;
  border-right: black solid 1px;
}

#table-topo li {
  border-right: black solid 1px;
  border-bottom: black solid 1px;
}

#tabela {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 1.5fr 1fr 1fr 1fr;
  justify-content: space-between;
}
#table-topo2 {
  background-color: #c0c0c0;
  box-sizing: border-box;
  display: inline-block;
  list-style: none;
  width: 350px;
  font-size: 18px;
}
#table-topo2 .tableup {
  display: block;
  box-sizing: border-box;
  background-color: var(--main-color);
  text-align: left;
  font-size: 32px;
  border-right: black solid 1px;
}

.row h2{
 font-size: 40px;
 color: white;
}
